.no-margin-top {
	margin-top: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.big {
	font-size: 1.5em !important;
}

.collection-item.avatar {
	min-height: 0px !important;
}

.bottom-space {
	margin-bottom: 80px;
}