<div class="row home">
    <div class="col s12">
        <div class="center-align">
            <img src="{{APP_SERVICE_PATH}}/images/main_logo.png" alt="logo">
        </div>

        <div class="input-field">
            <input id="query" type="text">
            <label for="query">Nombre del artista o canción</label>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="getList()">
                <i class="material-icons">send</i>
            </a>
        </div>
    </div>
</div>