<div class="row">
    <div class="col s12">
        <h1 class="no-margin-bottom"><%= song %></h1>
        <p class="no-margin-top">Por <a href="#!" onclick="get('<%= author %>')"><%= author %></a></p>

        <div><%- lyric %></div>
    </div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.back()">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
