<div class="row">
	<div class="col s12 center">
		<h1>No hay canciones</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p>Lo siento pero no encontramos ninguna canción o autor. Por favor intente nuevamente con otro nombre.</p>
		<a class="waves-effect waves-light btn" href="#!" onclick="apretaste.send({'command':'LETRAS'})">Buscar</a>
	</div>
</div>