<div class="row" style="margin-top: 0.75rem">
    <div class="col s12">
        <div class="chip tiny">
            <%= title %>
        </div>

        <ul class="collection one-line">
            <% list.forEach(function(item) { %>
                <li class="collection-item avatar" onclick="getLyric('<%= item.link %>')">
                    <i class="tiny material-icons circle">music_note</i>
                    <span class="title"><%= item.song %></span>
                    <p class="blue-grey-text"><%= item.author %></p>
                </li>
            <% }) %>
        </ul>
    </div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.back()">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
